*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.star{
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    animation: twinkle 2s infinite;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255,0.5);
}
.navbar{
    height: 100px;
    width: 100%;
    background-color: rgb(236, 199, 130);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    
}
.logo  img{
    height: 100%;
    width: 75px;
    mix-blend-mode:multiply;
    animation: rotate 5s alternate infinite;
    cursor: pointer;

}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.logo img:hover{
    animation-play-state: paused;
}


.anchors-tag{
    display: flex;
    align-items: center;
    justify-content: center;
}
.anchors-tag a{
    margin: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    font-weight:500;
    transition: all 1s ease-in-out;
    animation: fadeInUp 1s ease-in-out;

}

.anchors-tag a:hover{
    color: rgb(255, 140, 0);
    padding: 2px;
    font-size: 1.25rem;
    transition:all 0.3s ease-in-out;

    
}
.icons a{
    margin: 20px;
    font-size: 1.6rem;
    color: white;
    

}
.icons a:hover{
    color:rgb(255, 140, 0) ;
    font-size: 1.4rem;
    transition:all 0.3s ease-in-out;
    transition-delay: 0.3s;
}
.hero-section{
    padding: 15px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgb(246, 204, 128);
}

.text-section{
    width: 50%;
    font-size: 1.5rem;
    color: black;
    height: 100%;

}
.auto-image{
    height: min-content;
    width: 40%;
    
    

}
.auto-image img{
    height:100%;
    width: 100%;
    border-radius: 50%;
    
    
}
.buttons{
    margin-top: 20px;
    
}
.btn{
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: #fff;;
    border: none;
    background-color: rgb(23, 88, 88);
    border-radius: 8px;
    box-shadow: 3px 3px 8px #fff;
    animation: fadeInUp 1s ease-in-out;

}
.btn:hover{
    color: aquamarine;
    transform: scale(1,1);
    font-weight: 600;
}
.burger img{
    
    height: 200px;
    width: 250px;  
    margin: 10px;
    padding-top: 15px;
    animation: fadeInUp 1s ease-in-out;

}
.burger img:hover{
    transform: scale(1,1);
    box-shadow: 0 0 30px rgba(255, 255, 255,0.8);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease-out;
    
    
}
/* 
responsive */

.responsive-icons{
    display: none;
    cursor: pointer;

}

.responsive-icons i{
    font-size: 25px;
}

@keyframes twinkle{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(50px);

    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:750px){
    .hero-section{
        width:fit-content;
    }

    .text-section {
        width: 100%;
        flex-wrap: wrap; 
        display: flex;
        flex-direction: column;

    }
    .auto-image{
        height: fit-content;
        width: max-content;
        padding-top: 30px;
    }
    
    .burger img{
        padding: 10px 0 0 0;
        margin: 0;
        width: 100%;
        height: fit-content;
        align-items: center;
    }
    .buttons{
        width: 100%;
    }

    .burger img{
        padding-top: 10px;
        
    } 
    
    .anchors-tag{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 100px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
        overflow: hidden;
        
    }
    .responsive-icons{
        display: inline-block;
        color: #fff;
        
        
    }
    #menuList{
        transition: all 0.5s ;
    }
    
}
/* @media(max-width:600px){
    .auto-image{
        height: max-content;
        width: 100%;
        border-radius: 0px;
    } 
    .text-section{
        width: 100%;
        margin-bottom: 20px;
    }
    .hero-section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .burger img{
        height: max-content;
        width: 100%;
        border-radius: 10px;
        padding: 10px 0 0 0;
        margin: 0;
    
    }
}  */